#Day 1

In [ ]:
#1st
a,b,c=map(int,input().split())
if (a==b and b==c):
  print("Equilateral")
elif (a==b or b==c or c==a):
  print("Isosceles")
else:
  print("Scalene")

In [ ]:
#2nd
a,b=map(int,input().split())
z=a+b
if z>=15 and z<=20:
  print("20")
else:
  print(z)

In [ ]:
#3rd
x=input()
if x=='a' or x=='e' or x=='i' or x=='o' or x=='u':
  print(x+" is a Vowel")
else:
  print(x+" is not a Vowel")

In [ ]:
#4th
m=input()
m=m.title()
l1=['January','March','May','July','August','October','December']
if m in l1:
  print("No.of days: 31 days")
elif m=='Feburary':
  print("No.of days: 28 days")
else:
  print("No.of days: 30days")

In [ ]:
#5th
#5,3,19,13,41,31,71,57
n=int(input())
if n%2!=0:
  print(((n+1)**2)+n)
else:
  print(((n-1)**2)+n)

In [ ]:
#6th
a,b,c=map(int,input().split())
r=(a if a>c else c) if (a>b) else (b if b>c else c)
print(r)

In [ ]:
#7th
""" Divisible by 4, Centuary is not a leap year, but centuary divisible by 400 is a leap year"""
y=int(input())
print("Leap Year") if ((y%4==0 and y%100!=0) or y%400==0) else print("Not a Leap Year")

In [ ]:
#8th
n=int(input())
if n in range(1,101): #n>0 and n<101
  print("In range 1 to 100")
else:
  print("Not in range 1 to 100")

In [ ]:
#9th
n=int(input())
(print("Positive") if n>0 else print("Zero")) if n>=0 else print("Negative")

In [ ]:
#10th
import math 
a,b,c=map(int,input().split())
s=(a+b+c)/2
area=math.sqrt(s*(s-a)*(s-b)*(s-c))
print(area)

In [ ]:
#11th
l1=list(map(int,input().split()))
p=1
for i in l1:
  if i!=7:
    p=p*i
  else:
    p=1
if p==1:
  print("-1")
else:
  print(p)

#Day 2

In [ ]:
#factorial
def fac(n):
  if n==0 or n==1:
    return 1
  else:
    return n*fac(n-1)
print(fac(int(input())))

30
265252859812191058636308480000000

In [ ]:
#sum of digits
n=int(input())
s=0
while n!=0:
  r=n%10
  s=s+r
  n=n//10
print(s)

1492
16

In [ ]:
#palindrome
n=int(input())
def pal(n):
  s=0
  m=n
  while n!=0:
    r=n%10
    s=s*10+r
    n=n//10
  if (s==m):
    print("Palindrome")
  else:
    print("Not Palindrome")
pal(n)

121
Palindrome

In [ ]:
#sum of factors
n=int(input())
def sf(n):
  s=0
  for i in range(1,n+1):
    if (n%i==0):
      s=s+i
  print("Sum of factors = {0}".format(s))
sf(n)

6
Sum of factors = 12

In [ ]:
#triangle
n=int(input())
def single(n):
  a='*'
  for i in range(1,n+1):
    print(a*i) 
single(n)

5
*
**
***
****
*****

In [ ]:
n=int(input())
for i in range(1,n+1):
  print(' '.join(map(str,list(range(1,i+1)))))

5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
n=int(input())
for i in range(1,n+1):
  print(' '.join(map(str,list(2**i for i in range(i,-1,-1)))))

7
2 1
4 2 1
8 4 2 1
16 8 4 2 1
32 16 8 4 2 1
64 32 16 8 4 2 1
128 64 32 16 8 4 2 1

#Day 3

In [ ]:
 '''
 n=int(input())
 x=1
 for i in range(0,n):
   a=0
   for j in range(0,2*i+1):
     if (j%2==0):
       print(x-a,end="")
       a=a+1
     else:
       print('*',end="")
   x=x+i+2
   print()
'''      
n=int(input())
x=0
for i in range(1,n+1):
  print('*'.join(map(str,list(j for j in range(x+i,x,-1)))))
  x=x+i

4
1
3*2
6*5*4
10*9*8*7

In [ ]:
n=int(input())
x=1
for i in range(0,n):
  print(" "*(2*i),end="")
  for j in range(x,x+n-i):
    print(j,end=" ")
  x=x+n-i
  print()

4
1 2 3 4
  5 6 7
    8 9
      10

In [ ]:
n=int(input())
x=1
for i in range(0,n):
  print(" "*(2*i),end="")
  print(' '.join(map(str,list(j for j in range(x,x+n-i)))))
  x=x+n-i

4
1 2 3 4
  5 6 7
    8 9
      10

In [ ]:
'''
n=int(input())
x=1
for i in range(0,n):
  print(" "*(n-i),end="")
  for j in range(0,2*i+1):
    print(x,end="")
    x=x+1
  print()
'''
n=int(input())
x=1
for i in range(0,n):
  print(" "*(n-i),end="")
  print(''.join(map(str,list(j for j in range(x,x+2*i+1)))))
  x+=2*i+1

3
   1
  234
 56789

In [ ]:
'''
n=int(input())
for i in range(1,n+1):
  print(" "*(n*2-i*2),end="")
  for j in range(0,2*i-1):
    if(i==(j+1) and i!=1):
      print(2,end=" ")
    else:
      print(1,end=" ")
  print()
'''
n=int(input())
for i in range(1,n+1):
  print(" "*(n*2-i*2),end="")
  if i==1:
    print("1")
  else:
    print("1 "*(i-1),end="")
    print("2 ",end="")
    print("1 "*(i-1))

3
    1
  1 2 1
1 1 2 1 1

In [ ]:
'''
m=int(input())
x=1
y=m*(m+1)
y=y-m+1
for i in range(0,m):
  print(" "*(2*i),end="")
  for j in range(0,m-i):
    print(x,end="*")
    x=x+1
  for k in range(0,2*(m-i)-1):
    if k%2==0:
      print(y,end="")
      y=y+1
    else:
      print("*",end="")
  print()
  y=(y-m+i)-(m-i)+1
  '''
m=int(input())
x=1
y=m*(m+1)-m+1
for i in range(0,m):
  print(" "*(2*i),end="")
  print("*".join(map(str,list(j for j in range(x,x+m-i)))),end="*")
  print("*".join(map(str,list(k for k in range(y,y+m-i)))))
  x=x+m-i
  y=y-m+i+1

4
1*2*3*4*17*18*19*20
  5*6*7*14*15*16
    8*9*12*13
      10*11

In [ ]:
n=int(input())
for i in range(1,n+1):
  for j in range(0,n-i+1):
    print(" "*(2*(n-i)),end="")
    for k in range(0,2*i-1):
      print(i,end=" ")
    print()

4
      1
      1
      1
      1
    2 2 2
    2 2 2
    2 2 2
  3 3 3 3 3
  3 3 3 3 3
4 4 4 4 4 4 4

#Day 4

In [ ]:
#len of string
s=input()
l=0
for i in s:
  l=l+1
print("length =",l)

Srija
length = 5

In [ ]:
#remove spaces
s=input()
str1=""
c=0
for i in s:
  if i==' ':
    c=c+1
  else:
    str1+=i
print((" "*c)+str1)

python programming
 pythonprogramming

In [ ]:
#remove duplicates
s=input()
l=[]
for i in s:
  if i not in l:
    l.append(i)
print(''.join(map(str,l)))

keerthana
kerthan

In [ ]:
#consecutive duplicates
s=input()
s1=s[0]
l=0
for i in s:
  l=l+1
for i in range(1,l):
  if (s[i]!=s[i-1]):
    s1=s1+s[i]
print(s1)

keeerrtha
kertha

In [ ]:
#toggle
s=input()
s1=""
for i in s:
  if i>='A' and i<='Z':
    s1+=chr(ord(i)+32)
  elif i>='a' and i<='z':
    s1+=chr(ord(i)-32)
  else:
    s1+=i
print(s1)

kEErthANA
KeeRTHana

In [ ]:
#no duplicates
s=input()
l=0
for i in s:
  c=0
  for j in s:
    if i==j:
      c+=1
  if (c==1):
    print(i,end="")

keeeru
kru

In [ ]:
#uncommon and non-repetitive elements
a=input()
b=input()
s=a+b
for i in s:
  c=0
  for j in s:
    if i==j:
      c+=1
  if (c==1):
    print(i,end="")

python
program
ythngam

In [ ]:
#maximum occurring char in a given string
s=input()
d=dict()
for i in s:
  if i not in d:
    d[i]=s.count(i)
m=max(d.values())
for (i,j) in d.items():
  if j==m:
    print(i,end=" ")
print()

keer
e

In [ ]:
#check whether string contains all alphabets or not
s=input()
s1=s.lower()
l1=[chr(i) for i in range(97,123)]
c=True
for i in l1:
  if i not in s1:
    c=False
    break
print(c)

mklopnjibhuvgycftxdrzseawq
True

In [ ]:
#converting string into list,dividing with space
x=list(map(str,input().split()))
print(x)

python program
['python', 'program']

In [ ]:
#remove odd index chars from string
s=input()
print(s[::2])

abcde
ace

In [ ]:
#reverse order of words
l=list(map(str,input().split()))
x=l[::-1]
print(" ".join(map(str,x)))

i am keeru
keeru am i

In [ ]:
#take list of words and return length of the longest string
l=list(map(str,input().split()))
d=dict()
for i in l:
  d[i]=len(i)
print(max(d.values()))

hello keerthana
9

In [ ]:
#capitalize first and last letters of a word
s=input()
s=s[0].upper()+s[1:-1]+s[-1].upper()
print(s)

program
PrograM

#Day 5

In [ ]:
#anagram - two strings will be given, if length of both strings are same and characters are matching then it is an anagram and it should form a meaningful word
a=input()
b=input()
c=1
if len(a)==len(b):
  if a==b:
    print(0)
  else:
    for i in a:
      if (i not in b) or (a.count(i)!=1 or b.count(i)!=1):
        c=0
        break
    print(c)
else:
  print(0)

abcda
abcdc
0

In [ ]:
#given 2 numbers find 2 numbers whether they are forming amicable pairs or not (sum of factors of 1st number = 2nd number and sum of factors of 2nd number = 1st number)
''' test cases
input: 6 6
output: not amicable 

input: 220 284
output: amicable
'''
a,b=map(int,input().split())
if a==b:
  print(0)
else:
  f1=f2=1
  for i in range(2,max(a,b)):
    if a%i==0 and a>i:
      f1+=i
    if b%i==0 and b>i:
      f2+=i
  if f1==b and f2==a:
    print(1)
  else:
    print(0)

220 284
1

In [ ]:
#complimentary strings - COMBINATION OF BOTH STRINGS SHPULD CONTAIN ALL 26 CAPITAL ALPHABETS
a=input().upper()
b=input().upper()
c="yes"
l="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
if a.isalpha() and b.isalpha():
  for i in l:
    if i not in a+b:
      c="no"
      break
else:
  c="no"
print(c)

abcd1
efghijklmnopqrstuvwxyz
no

In [ ]:
#capitalize repeated letters
a,b=map(str,input().split())
s=a+" "+b
s1=set(s)
for i in s1:
  if s.count(i)>1:
    s=s.replace(i,i.upper())
print(s)

programming language
pRoGRAMMiNG lANGuAGe

In [ ]:
#capitalize kth character and all its repetition
''' input: append 2
    ouput: aPPEnD '''
s,k=map(str,input().split())
k=int(k)
for i in range(k-1,len(s),k):
  s=s.replace(s[i],s[i].upper())
print(s)

append 2
aPPEnD

In [ ]:
#pan card validation
'''
must have only uppercase
10 characters only
from index 1-5 all must be letters and last index must be a letter
rest all must be integer starting from 1'''
p=input()
c="pan"
if len(p)==10:
  x=p[0:5]+p[-1]
  y=p[5:9]
  if x.isalpha() and x.isupper() and y.isdigit():
    for i in y:
      if int(i) not in range(1,10):
        c="not pan"
        break
  else:
    c="not pan"
else:
  c="not pan"
print(c)

ABCDE1234K
pan

#Day 6

In [ ]:
#sorting words without using sorted method
def alphab(s):
  s1='abcdefghijklmnopqrstuvwxyz'
  s3=''
  for i in s1.upper():
    if i in s:
      s3=s3+(i*s.count(i))
  for i in s1:
    if i in s:
      s3=s3+(i*s.count(i))
  print(s3)


s2=input()
alphab(s2)

keer
eekr

In [ ]:
#change middle elements to *
u=input()
n=len(u)
x=(n-1)//2
s=u[:x]
if n%2!=0:
  s=s+'*'+u[x+1:]
else:
  s=s+'**'+u[x+2:]
print(s)

append
ap**nd

In [ ]:
#find longest common substring
a=input()
b=input()
if len(a)>len(b):
  x,y=a,b  
else:
  x,y=b,a
c=''
for j in x:
  if j in y:
    c=c+j
print(c)

code
sold
od

In [ ]:
#check whether palindrome or not
s=input()
print('yes') if s==s[::-1] else print('no')

keer
no

In [ ]:
#print encoded strings by adding 3 to each char
s=input()
l=set(s)
for i in l:
  s=s.replace(i,chr(ord(i)+3))
print(s)

abcde
defgh

In [ ]:
#print min no.of chars to be inserted to convert it into a palindrome
'''
abcd 3
value 2
python 5
madam 0
'''
a=input()
if a==a[::-1]:
  print(0)
else:
  for i in range(len(a)):
    x=a[:i+1]
    x=a+x[::-1]
    if x==x[::-1]:
      print(x)
      print(i+1)
      break

python
pythonohtyp
5

In [ ]:
#lexographical or alphabetical order
a=input()
alphab(a)

zvub
buvz

In [ ]:
#find longest consecutive substring
a=input()
b=input()
if len(a)>=len(b):
  x,y=a,b  
else:
  x,y=b,a
z=''
c=''
for i in range(len(y)):
  for j in range(i,len(y)):
    c=(y[i:j+1])
    if c in x:
       if len(c)>len(z):
         z=c
    else:
      break
print(z)

cold
sold
old

In [ ]:
#max and min
l=list(map(int,input().split()))
m=max(l)
n=min(l)
print(m,n)

In [ ]:
#largest of even and odd inside the list
l=list(map(int,input().split()))
l=sorted(l,reverse=True)
for i in l:
  if (i%2==0):
    e=i
    break
for i in l:
  if i%2!=0:
    o=i
    break
print(e,o)

10 50 91 23 60
60 91

In [ ]:
#find the length of largest subarray whose sum is 0
#consecutive elements
n=int(input())
l=list(map(int,input().split()))
x=[0,0]
for i in range(0,n):
  for j in range(i,n):
    y=l[i:j+1]
    if sum(y)==0 and x[0]<len(y):
      x[0]=len(y)
      x[1]=y
print(x[0])

6
1 0 0 -2 3 1
2

#Day 7

In [ ]:
1
#find the length of largest subarray whose sum is 0
#random elements
from itertools import combinations
n=int(input())
l=list(map(int,input().split()))
y=[]
m=0
for i in range(1,n+1):
  x=list(combinations(l,i))
  for j in x:
    if sum(j)==0:
      m=i
      break
print(m)

7
1 2 0 0 -1 4 -2
6

In [ ]:
from itertools import permutations
res=permutations([1,2,3],3)
res1=permutations([1,2,3],2)
print(list(res))
print(list(res1))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]
[(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]

In [ ]:
from itertools import combinations,combinations_with_replacement
res=combinations([1,2,3],3)
print(list(res))
r=combinations_with_replacement([1,2,3],3)
print(list(r))

[(1, 2, 3)]
[(1, 1, 1), (1, 1, 2), (1, 1, 3), (1, 2, 2), (1, 2, 3), (1, 3, 3), (2, 2, 2), (2, 2, 3), (2, 3, 3), (3, 3, 3)]

In [ ]:
#sort elements in even indices
n=int(input())
while n!=0:
  a=list(map(int,input().split()))
  b=sorted(a[::2])
  j=0
  for i in b:
    a[j]=i
    j=j+2
  print(*a)
  print()
  n=n-1

1
12 44 23 16 1 62
1 44 12 16 23 62

In [ ]:
#to make largest number with given list of numbers
t=int(input("no.of test cases: "))
while t!=0:
  n=int(input("No.of elements: "))
  a=list(map(str,input().split()))
  print(''.join(map(str,sorted(a,reverse=True))))
  print( )
  t=t-1

no.of test cases: 1
No.of elements: 5
56 6 85 95 23
958565623

In [ ]:
#union of both arrays in ascending order and union must contain distinct elements
t=int(input())
while t!=0:
  n1=int(input("size of arr1: "))
  l1=list(map(int,input().split()))
  n2=int(input("size of arr2: "))
  l2=list(map(int,input().split()))
  s=set(l1+l2)                               #s=list(set().union(l1,l2)) 
  print(*sorted(s))                          #print(*(s.sort())
  print()
  t-=1

1
size of arr1: 3
1 2 2
size of arr2: 5
4 5 6 7 2
1 2 4 5 6 7

In [ ]:
#find out no.of ids occurring >=3
t=int(input("no.of test cases: "))
while t!=0:
  n=int(input('no.of ids: '))
  l=list(map(int,input().split()))
  s=set(l)
  y=0
  for i in s:
    c=l.count(i)
    if c>=3:
      y+=1
  print(y)
  print()
  t-=1

no.of test cases: 2
no.of ids: 10
2 1 1 3 1 8 7 2 2 6
2

no.of ids: 6
1 3 2 4 4 4
1

In [ ]:
#sum of all possible permutations of each given number
from itertools import permutations
l=list(map(str,input().split()))
s=0
for i in l:
  y=[int(j) for j in i]
  x=permutations(y,len(y))
  for j in x:
    y=''.join(map(str,j))
    s=s+int(y)
print(s)

12 23 2
90

#Day 8

In [ ]:
#sort the elements based on frequency
#i/p: 5
#     8 8 1 1 3
#o/p: 3 1 1 8 8
n=int(input())
l=list(map(int,input().split()))
d={}
for i in set(l):
  d[i]=l.count(i)
s=sorted(d,key=d.get)
x=t=[]
f=d[s[0]]
for i in s:
  if d[i]==f:
    t.append(i)
  else:
    x.append(t)
    t=[i]
    f=d[i]
x.append(t)
for i in x:
  for j in sorted(i):
    print(((str(j))+' ')*(d[j]),end="")

5
8 8 1 1 3
3 1 1 8 8

In [ ]:
#check whether the given string has balanced brackets (equal number of opening and closing brackets)
#i/p:{}(0)[][{}]
#o/p:yes
s=input()
o1=o2=o3=0
c1=c2=c3=0
for i in s:
  if i=='(' and c1<=o1:
    o1+=1
  elif i==')' and c1<=o1:
    c1+=1
  elif i=='{' and c2<=o2:
    o2+=1
  elif i=='}' and c2<=o2:
    c2+=1
  elif i=='[' and c3<=o3:
    o3+=1
  elif i==']' and c3<=o3:
    c3+=1
  else:
    continue
if o1==c1 and o2==c2 and o3==c3:
  print('yes')
else:
  print('no')

}{)(
no

In [ ]:
#given 2 no.s N and K, followed bu N no.of integers such that sum of 2 pairs in the N numbers results K value. if exists print yes else no
#i/p:4 4
#    1 2 2 4
#o/p:yes
from itertools import permutations
n,k=map(int,input().split())
l=list(map(int,input().split()))
if len(l)==n:
  s=set(permutations(l,2))
  c='no'
  for i in s:
    if sum(i)==k:
      c='yes'
      break
  print(c)
else:
  print('Invalid input')

4 4
1 2 2 7
yes

In [ ]:
#find the maximum count of consecutively increasing numbers in the list
#i/p:6
#    1 2 0 3 4 5
#o/p:4
n=int(input())
l=list(map(int,input().split()))
if len(l)==n:
  e=l[0]
  c=1
  x=[]
  for i in range(1,len(l)):
    if l[i]>l[i-1]:
      c+=1
    else:
      x.append(c)
      c=1
  x.append(c)
  print(max(x))

6
1 2 0 3 4 5
4

In [ ]:
#find car's engine number, car's engine number=sum of integers in car's number plate
#i/p:HRo5-AA-2669
#o/p:28
s=input()
e=0
for i in s:
  if i.isdigit():
    e+=int(i)
print(e)

HR05-AA-2669
28

In [ ]:
#wonderful string-string which is made up of exactly 3 characters, print 'Wonder' if the string is wonderful else -1
s=input()
l=len(set(s))
if l==3:
  print('Wonder')
else:
  print('-1')

aabbcc
Wonder

In [ ]:
#find 2 batsmen whose strike rate difference is minimum
#i/p:6
#    138.3 156.5 156.6 160.2 198.3 146.2
#o/p:156.5 156.6
n=int(input())
l=list(map(float,input().split()))
l=sorted(l,reverse=True)
d=l[0]-l[1]
t=(l[1],l[0])
for i in range(1,n):
  if (l[i-1]-l[i])<d:
    t=(l[i],l[i-1])
    d=l[i-1]-l[i]
print(t[0],t[1])

5
123.0 123.1 123.4 123.2 123.7
123.0 123.1

In [ ]:
#majestic or not - majestic:sum of 1st three numbers=sum of last three numbers, if majestic 1 else -1
#i/p:7
#    1 2 3 4 6 0 0
#o/p:1
n=int(input())
l=list(map(int,input().split()))
if n<3:
  print('Invalid input')
else:
  f=sum(l[0:3])
  l=sum(l[-3:])
  if f==l:
    print(1)
  else:
    print(-1)

1
43
Invalid input

In [ ]:
#given 2 no.s n and k followed by n no.of elements, print the no.of repetition of k otherwise print -1 if element is not found
#i/p:6 2
#    1 2 3 5 7 8
#o/p:0
n,k=map(int,input().split())
l=list(map(int,input().split()))
c=l.count(k)
if c==0:
  print(-1)
else:
  print(c-1)

6 2
1 3 5 4 5 6
-1

In [ ]:
#find distinctly appeared element
#i/p:5
#    1 1 2 5 5
#o/p:2
n=int(input())
l=list(map(int,input().split()))
s=set(l)
for i in s:
  if i<=0 or i>6:
    print(-1)
    break
  if l.count(i)==1:
    print(i,end=" ")
print()

5
1 1 2 5 5
2

In [ ]:
#find highest marks
#i/p:3
#    82 96 72
#o/p:96
n=int(input())
l=list(map(int,input().split()))
print(max(l))

3
82 96 72
96

#Day 9

 Dictionary
 A dictionary is acollection which is unordered, changeable and indexed
 Keys must be unique and are immutable
d.get(key) - returns the value and returns 'None' if key is not present

del(d) - deletes a dictionary

del d[i] - deletes an item in a dictionary

update()- adds dictionary dict2's key value pairs to dict1

copy() -  returns a shallow copy of the dictionary

pop(key) -  removes and returns an elemen from a dictionary having the given key

d.popitem() -  removes the arbitary key-value pair from the dictionary and returns it as a tuple

d.clear() -  removes all elements in the dictionary

d.keys() - returns list of keys

d.values() - returns a list of all values 

d.items() -  returns a list of (key,value) tuple pairs

dict.fromkeys(d,value) - creates a new dictionary with keys from sequence and values set to value

d.setdefault(key[,default value]) 


#### Nested Dictionary - a dictionary inside another dictionary


#### Dictionary Comprehensions - is a method of transforming one dictionary into another dictionary 
d1={k:v*2 for (k,v) in d.items()}

 Set
 
A set is an unordered collection of data type that is iterable, mutable and has no duplicate elements
It has no indexing.

We can access it using in operator

for i in s:
   print(i)

Elements in the sets cannot be accessed using indexing and hence modifying is not possible.

add()

update() -  returns the union of itself and others

copy()

clear()

remove() - removes an element from the set, if element is not present it raises KeyError

pop() -  removes and returns an arbitary set element, if set is empty raises KeyError

discard() - removes an element from the set if it is a member, do nothing if it is not present

union() - returns union of sets in a new set

intersection() - returns the intersection of sets as a new set

intersection_update() - updates the set with the intersection of itself and another

difference() - retruns the difference of 2 or more sets as a new set

difference_update() - removes all elements of another set from this set

symmetric_difference() - returns the symmetric difference of two sets as a new set

symmetric_difference_update() - updates a set with the symmetric difference of itself and another

isdisjoint() - returns True if 2 sets have a null intersection

issubset() - returns true if another set contains this set

issuperset() - returns true if this set contains another set

sum(), max(), min(), len()

all() - if all are non-zero true else false

any() - if any one is non-zero

sorted() - returns a new sorted list from elements in the set



#### Set Comprehension - returns a set based on existing iterables
{expression(variable) for variable in input_set[predicate][,..]

res={s for s in [1,2,3] if s%2}

print(res)

o/p: {1,3}

 Frozenset
 
Frozensets are immutable. 
Frozenset can be created using the functions frozenset()
a=frozenset([1,2,3,4]) - supports copy,diff,inter,isdisjoint,issub,issuper,sym_diff and union

In [ ]:
#to add a key to dictionary
#ip: 1 2 2 3 3 4
#    4 5
#op: {1:2,2:3,3:4,4:5}
l=list(map(int,input().split()))
a,b=map(int,input().split())
d={}
i=0
while i!=(len(l)):
  d[l[i]]=l[i+1]
  i=i+2
d[a]=b
print(d)

1 2 2 3 3 4
4 5
{1: 2, 2: 3, 3: 4, 4: 5}

In [ ]:
#to check whether a given key already existing in a dictionary
#{1:10,2:20,3:30.4:40:5:50,6:60}
#2
s=input()
k=int(input())
s=s[1:-1]
l=s.split(',')
d={}
for i in l:
  t=i.split(':')
  d[int(t[0])]=int(t[1])
if k in d.keys():
  print('Already Existing')
else:
  print("Not existing")

{1:10,2:20,3:30,4:40,5:50,6:60}
2
['1:10', '2:20', '3:30', '4:40', '5:50', '6:60']
Already Existing

In [ ]:
#print squares
#ip:3
#op:{1:1,2:4,3:9}
n=int(input())
d={i:i**2 for i in range(1,n+1)}
print(d)

3
{1: 1, 2: 4, 3: 9}

In [ ]:
def convert(s):
  s=s[1:-1]
  l=s.split(',')
  d={}
  for i in l:
    t=i.split(':')
    if t[0].isdigit():
      d[int(t[0])]=int(t[1])
    else:
      d[t[0]]=int(t[1])
  return d

n=input()
print(convert(n))

{a:1,b:2}
{'a': 1, 'b': 2}

In [ ]:
#merge 2 python dictionaries
#ip:{1:2,3:4}
#   {5:6}
#op:{1:2,3:4,5:6}
a=input()
b=input()
d1=convert(a)
d2=convert(b)
for i in d2.keys():
  if i not in  d1.keys():
    d1[i]=d2[i]
print(d1)

{1:2,3:4}
{5:6}
{1: 2, 3: 4, 5: 6}

In [ ]:
#remove a key from dictionary
#ip:{9:5,3:4,8:5,6:7}
#   3
#op:{9:5,8:5,6:7}
p=input()
p=convert(p)
k=int(input())
if k in p.keys():
  del p[k]
  print(p)
else:
  print(-1)

{9:5,3:4,8:5,6:7}
3
{9: 5, 8: 5, 6: 7}

In [ ]:
#map 2 lists into dictionary
#ip:1 2 3
#   2 3 5
#op:{1:2,2:3,3:4}
l1=list(map(int,input().split()))
l2=list(map(int,input().split()))
if len(l1)==len(l2):
  i=0
  while i!=len(l1):
    d[l1[i]]=l2[i]
    i+=1
  print(d)
else:
  print(-1)

1 2 3
2 3 5
{1: 2, 2: 3, 3: 5}

In [ ]:
#combine 2 dictionaries adding values for common keys
#ip:{a:100,b:200,c:300}
#   {a:300,b:200,d:400}
#o/p:{b:400,d:400,a:400,c:300}
s1=input()
s2=input()
d1=convert(s1)
d2=convert(s2)
for i in d2.keys():
  if i in d1.keys():
    d1[i]+=d2[i]
  else:
    d1[i]=d2[i]
print(d1)

{a:100,b:200,c:300}
{a:300,b:200,d:400}
{'a': 100, 'b': 200, 'c': 300} {'a': 300, 'b': 200, 'd': 400}
{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [ ]:
#to create set difference
#ip:1 2 3 4
#2 3 5
#op:{'1','4'}
s1=set(map(str,input().split()))
s2=set(map(str,input().split()))
print(s1.difference(s2))

1 2 3 4
2 3 5
{'1', '4'}

In [ ]:
#to create union of set
#ip: 1 2 3 4
#    2 3 5
#op: 1 2 3 4 5
s1=set(map(int,input().split()))
s2=set(map(int,input().split()))
print(sorted(s1.union(s2)))

1 2 3 4
2 3 5
[1, 2, 3, 4, 5]

In [ ]:
#to create intersection
s1=set(map(int,input().split()))
s2=set(map(int,input().split()))
print(sorted(s1.intersection(s2)))

1 2 3 4
2 3 5
[2, 3]

In [ ]:
#to find length of set
#9 8 5 6 1
#5
s=set(map(int,input().split()))
print(len(s))

9 8 5 6 1
5

In [ ]:
#find max and min elements in a set
#9 7 5 1 3
#Max: 9
#Min: 1
s=set(map(int,input().split()))
print('Max:',max(s))
print('Min:',min(s))

9 7 5 1 3
Max: 9
Min: 1

In [ ]:
#check whether every element in s is in t and every element in u is in s and every element in u is in t
#8 5 1
#5 1 
#1 2 3 5 8
def check(a,b):
  c=True
  for i in a:
    if i not in b:
      c=False
      break
  print(c)
  return

s=set(map(int,input().split()))
t=set(map(int,input().split()))
u=set(map(int,input().split()))
check(s,t)
check(u,s)
check(u,t)

8 5 1
5 1
1 2 3 5 8
False
False
False

In [ ]:
#symmetric difference
#1 2 3
#2 4 1
#{'3','4'}
s1=set(map(str,input().split()))
s2=set(map(str,input().split()))
print(set(sorted(s1.symmetric_difference(s2))))

1 2 3
2 4 1
{'3', '4'}

In [ ]:
#convert list into a nested dictionary
#ip:1 2 3 4
#op:{1:{2:{3:{4:{}}}}}
l=list(map(int,input().split()))
d=dict()
d[l[-1]]={}
for i in range(len(n)-2,0,-1):
  d[l[i]]

# Day 10

In [ ]:
def f(x):
  yield x+1
  print('star')
  yield x+2
g=f(10)
print(next(g))
print(next(g))

11
star
12

In [ ]:
'1'== 1

False

we cannot use 'not in' in loops 

'1' == 1 returns False

In [ ]:
def pattern(n):
  for i in range(n,0,-1):
    for j in range(1,i+1):
      print(j,end=" ")
    print(" ")
pattern(4)

1 2 3 4
1 2 3
1 2
1

In [ ]:
a=[[]]*5
print(a)
a[1].append(10)
print(a)
a[1]=3
print(a)

[[], [], [], [], []]
[[10], [10], [10], [10], [10]]
[[10], 3, [10], [10], [10]]

In [ ]:
l=[13,14,16,11,12]
l[1:2]=[[17,67],18]
print(l)

[13, [17, 67], 18, 16, 11, 12]

In [ ]:
bin(5-2)+bin(10^5)

'0b110b1111'

In [ ]:
print('{0:-3%}'.format(5.0/2))
print('{0:-200%}'.format(5.0/2))
print('{0:200%}'.format(5.0/2))
print('{0:%}'.format(5.0/2))
#print('{1:100%}'.format(5.0/2))   o/p:IndexError: tuple index out of range

250.000000%
                                                                                                                                                                                             250.000000%
                                                                                                                                                                                             250.000000%
250.000000%

In [ ]:
print(['a','b']*3)
print(['a','b']*+3)
print(['a','b']*-3)
#print(['a','b']-*3) error
#print(['a','b']*%3) error
#print(['a','b']*/3) error
#print(['a','b']+3) error
print(['a','b']+[3])
#print(['a','b']+('3')) error

['a', 'b', 'a', 'b', 'a', 'b']
['a', 'b', 'a', 'b', 'a', 'b']
[]
['a', 'b', 3]

In [ ]:
#two no.s n & q, array of n integers followed by q queries each consisting of L,R. 
#Find the gcd of no.s in [L,R]. If there is only one number in the given range, then print the number itself
#input:
#5 2 
#1 2 3 4 5
#1 2
#4 5
#output:
#1
#1
n=int(input())

In [ ]:
#find first '-'ve integer for each and every window of size k
#ip:7
#   1 -2 -3 -4 5 6 -7
#   3
#op:-2 -2 -3 -4 -7
n=int(input())
l=list(map(int,input().split()))
k=int(input())
i=0
j=3
while j<=n:
  s=l[i:j]
  for k in s:
    if k<0:
      print(k,end=" ")
      break
  i=i+1
  j=i+3
print()

7
1 -2 -3 -4 5 6 -7
3
-2 -2 -3 -4 -7

# Day 11

In [ ]:
def weight(s):
  s1=0
  for i in s:
    s1+=ord(i)
  return s1

In [ ]:
a=input()
print(weight(a))

abc
294

In [ ]:
a=input()
d=0
for i in a:
  if i.isalpha():
    print(i,end='')
  elif i.isnumeric():
    d+=int(i)
print(d)

abcd30e88
abcde19

In [ ]:
b=input()
n=len(b)
i=0
x=''
c=[]
for i in b:
  if i.isdigit():
    x=x+i
  elif x!='':
    c.append(int(x))
    x=''
if x!='':
  c.append(int(x))
print(max(c))

keerthana 21 keer 2001
[21, 2001]
2001

In [ ]:
b=input()
n=len(b)
i=0
x=''
c=[]
for i in b:
  print(i,end=" ")
  if i.isdigit():
    x=x+i
    print(x)
  elif x!='' or :
    c.append(int(x))
    x=''
if x!='':
  c.append(x)
print(max(c))

# Day 12

Heirarchy of programming paradigms

Machine language -> Assembly language -> Structural programming languages -> Procedural programming languages -> OOP

- python supports all languages
- dynamically typed language

OOPS PARADIGMS
- Encapsulation
- Class
- Abstract class
- Inheritance
- Abstraction
- Polymorphism
- Ac

In [ ]:
#multi level
class A():
  def ameth(self):
    print('In class A')
class B(A):
  def bmeth(self):
    print('In class B')
class C(B):
  def cmeth(self):
    print('In class C')
ob=C()
ob.ameth()
ob.bmeth()
ob.cmeth()

In class A
In class B
In class C

In [ ]:
#heirarchial
class H1():
  def h1meth(self):
    print('parent class')
class C1(H1):
  def c1meth(self):
    print('child1')
class C2(H1):
  def c2meth(self):
    print('child2')
obj1=C1()
obj1.h1meth()
obj2=C2()
obj2.h1meth()

parent class
parent class

In [ ]:
#multiple
class M1():
  def m1fun(self):
    print('in parent 1')
class M2():
  def m1fun(self):
    print('in parent 2')
class Child(M1,M2):
  def cfun(self):
    print('multiple inheritance')
a=Child()
a.m1fun()
#a.m2fun()
a.cfun()

in parent 1
multiple inheritance

#Random

In [ ]:
i=0
while i<5:
  print(i,end='')
  i+=1
  if i==3:
    break
  else:
    print(0)

00
10
2

In [ ]:
list1=['physics','chemistry',1997,2000]
print("list[1][1]:",list1[1][1])
print("list[1][-1]:",list1[1][-1])

list[1][1]: h
list[1][-1]: y

In [ ]:
t1=(1)
t2=(3,4)
t1+=5
print(t1)
print(t1+t2)

6

TypeError: ignored

In [ ]:
data=[x for x in range(5)]
temp=[x for x in range(7) if x in data and x%2==0]
print(temp)

[0, 2, 4]

In [ ]:
temp=['good','for','good']
arr=[i[0].upper() for i in temp]
print(arr)

['G', 'F', 'G']

In [ ]:
data=[x for x in (x for x in "Focus academy" if x.isdigit()) if (x in ([x for x in range(20)]))]
print(data)

[]

In [ ]:
t=(1,2)
print(2*t)

(1, 2, 1, 2)

In [ ]:
print(not(5&5))

False

In [ ]:
if (7<0) and (0<-7):
  print('Merin')
elif (7>0) or False:
  print('Love')
else:
  print('Tech')

Love

In [ ]:
line="What will have so will"
L=line.split('a')
for i in L:
  print(i,end=' ')

Wh t will h ve so will

In [ ]:
t=tuple('green')
a,b,c,d,e=t
b=c='*'
t=(a,b,c,d,e)
print(t)

('g', '*', '*', 'e', 'n')

In [ ]:
t=(2e-04,True,False,8,1.001,True)
val=0
for x in t:
  val+=int(x)
print(val)

11